.seat-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px; }

.seat {
  border: 3px solid #33202A;
  background-color: #33202A;
  border-radius: 5px;
  width: 250px;
  margin: 5px; }

.seat-info {
  margin: 5px; }

.table-info-seat-manager {
  width: 120px;
  height: 40px;
  margin: auto;
  padding: 11px;
  margin-top: 15px;
  text-align: center; }

.all-tables-button {
  background-color: #EFEFF0;
  border-radius: 20px;
  color: #33202A;
  width: 120px;
  height: 40px;
  padding: 11px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px; }

.add-seat {
  width: 75px;
  height: 25px;
  color: #6D576A;
  margin-left: 5px;
  background-color: #EFEFF0;
  border-radius: 15px;
  border: none; }

a {
  text-decoration: none; }
