.seat-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px; }

.seat {
  border: 3px solid #33202A;
  background-color: #33202A;
  border-radius: 5px;
  width: 250px; }

.seat-info {
  margin: 5px; }

a {
  text-decoration: none; }

.table-info {
  margin-top: 5px;
  color: #33202A; }
