.seat-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.seat {
  border: 3px solid #33202A;
  background-color: #33202A;
  border-radius: 5px;
  width: 250px;
  margin: 5px;
}

.seat-info {
  background-color: #33202A;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.table-info-seat-manager {
  width: 120px;
  height: 40px;
  margin: auto;
  padding: 11px;
  margin-top: 15px;
  text-align: center;
  font-size: 19px;
}

.all-tables-button {
  background-color: #EFEFF0;
  border-radius: 20px;
  color: #33202A;
  width: 100px;
  height: 30px;
  padding: 8px;
  margin: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 16px;
}

.add-seat {
  width: 75px;
  height: 25px;
  color: #6D576A;
  margin-left: 5px;
  background-color: #EFEFF0;
  border-radius: 15px;
  border: none;
}

a {
  text-decoration: none;
}
