.seat-order-container {
  height: 93%;
  width: 95%;
  overflow-y: scroll;
  margin-top: 5px;
  background-color: #EFEFF0;
  color: #33202A;
  border-radius: 5px;
  margin: auto;
  padding: 5px 0 3px 0; }

.menu-item {
  color: #33202A;
  margin-bottom: 5px;
  text-align: left; }

.edit-order-item-button {
  display: none; }

.remove-order-item-button {
  background-color: #DADADB;
  color: #A63D40;
  float: left;
  border-radius: 50%;
  border: 1px solid #C68385;
  width: 17px;
  height: 17px;
  font-size: 15px;
  margin: 0 5px 0 3px; }
