.order-wrapper {
  height: 35%;
  text-align: center; }

.entrees-list {
  padding: 5px; }

.entree-item {
  margin-bottom: 3px;
  background-color: #33202A;
  height: 100px;
  width: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around; }
