.table-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px; }

.table {
  border: 3px solid #33202A;
  background-color: #33202A;
  padding: 25px;
  border-radius: 50%;
  height: 75px;
  width: 75px; }

a {
  text-decoration: none; }
